.catalog {
  display: flex;
  flex-direction: column;

  &__link {
    padding: 35px 0;
    text-decoration: none;
    color: white;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 24px;

    &--interior {
      background: #63d1bb;
    }

    &--toys {
      background: #56c3b2;
    }
  }

  &__header {
    margin-left: 30px;
  }
}
