.features {
  margin: 0 30px;
}

.features__header {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 25px;
  margin-top: 67px;
  margin-left: -2px;
  margin-bottom: 32px;
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.features__item {
  list-style-type: none;
  padding-top: 50px;
  margin-top: 33px;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;

  &:first-child {
    margin-top: 0;
  }

  &--ecology {
    background: url("../img/icon-feature-flower.svg") no-repeat 7px -1px;
  }

  &--style {
    background: url("../img/icon-feature-money.svg") no-repeat;
  }

  &--like {
    background: url("../img/icon-feature-heart.svg") no-repeat 7px 5px;
  }

  &--handmade {
    background: url("../img/icon-feature-ball.svg") no-repeat 4px 0;
  }

  &--homeland {
    background: url("../img/icon-feature-rocket.svg") no-repeat -7px 3px;
  }

  &--gift {
    background: url("../img/icon-feature-gift.svg") no-repeat;
  }
}

@media (min-width: 768px) {
  .features {
    width: 668px;
    margin: 0 auto;
  }

  .features__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .features__item {
    width: 300px;
  }
}

@media (min-width: 1250px) {
  .features {
    width: 875px;
    margin: 0 auto;
  }
}
