.features {
  padding: 0 30px;

  &__header {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  &__item {
    list-style-type: none;
    padding-top: 93px;
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 17px;
  }
}
