.item {
  margin-bottom: 30px;
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;
}

.item img {
  align-self: center;
}

.item__header {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 17px;
  line-height: 22px;
  margin-top: 33px;
  padding-left: 28px;
}

.item__about {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  padding-left: 28px;
}

.item__order {
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1250px) {
  .item {
    width: 315px;
    margin: 0 50px;
  }
}
