body {
  background: #f9f9f9;
  min-width: 320px;
}

@import "_normalize";
@import "fonts";
@import "page-header";
@import "main-nav";
@import "page-main";
@import "catalog";
@import "weekly-hit";
@import "features";
@import "comments";
@import "contacts";
@import "footer";
@import "item";
@import "production";
@import "form";
@import "goods";

.hidden {
  display: none;
}
