.weekly-hit {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
}

.weekly-hit__header {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 0;
}

.weekly-hit__subheader {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}

.weekly-hit__description,
.weekly-hit__options {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.weekly-hit__description {
  margin-top: 24px;
}

.weekly-hit__options td {
  padding: 8px 0;
  border-bottom: 1px solid #ececec;

  &:first-child {
    width: 42%;
  }
}

.weekly-hit__pic {
  margin-top: 28px;
}

.weekly-hit__price {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 17px;
  align-self: center;
  margin-top: 23px;
  color: #444444;
}

.weekly-hit__order {
  margin-top: 27px;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 17px;
  padding: 13px 0;
  text-transform: uppercase;
  background: none;
  border: 2px solid #444444;
  color: #444444;
  cursor: pointer;
}

@media (min-width: 768px) {
  .weekly-hit {
    width: 668px;
    margin: 0 auto;
  }
}

@media (min-width: 1250px) {
  .weekly-hit {
    width: 1050px;
    margin: 0 auto;
  }
}
